<div>
<img src="/images/beer.png" alt = "Image of beer" height="400" width="auto">
</div>
<div>
    <a href="beers">
        Check a beer
    </a>
    <a href="random-beer">
Check a random beer
    </a>
</div>